<div class="title-box">
  <h1 class="title-box__titulo">Catálogo de personas</h1>
</div>
<div class="options-box">
  <button (click)="addPersona()" mat-raised-button class="options-box__button" color="primary">Agregar
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="table-box">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="PersonaId">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.personaId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="NombreCompleto">
      <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="Opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="addPersona(element)" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deletePersona(element.personaId)" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
