/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
  position: relative;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.title-box{
  margin: 24px 0;

  .title-box__titulo{
    font-size: 2.5em;
    text-align: center;
  }

  .title-box__index-title{
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    margin-top: 160px;

    .netColor{
      color: rgb(35, 110, 250);
    }

    .angularColor{
      color: red;
    }
  }
}

.options-box{
  padding: 24px;
  text-align: right;

  .options-box__button{
    font-size: 1.5em;
  }
}

.register-box{
  width: 50%;
  margin: 0 auto;
}

.index-box{
  margin-top: 80px;
  padding: 32px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;

  .notImportant{
    color: rgb(165, 165, 165);
  }
}

@media (max-with: 720px){
  .container {
    width: 100% !important;
  }
}
