<div class="title-box">
  <h1 class="title-box__titulo">Registro de usuarios</h1>
</div>
<div class="register-box">
  <form [formGroup]="registroForm" (ngSubmit)="submit()">
    <mat-dialog-content>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nombre Completo</mat-label>
        <input matInput formControlName="nombre">
        <mat-error *ngIf="registroForm.get('nombre').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="email" email>
        <mat-error *ngIf="registroForm.get('email').hasError('required')">Este campo es requerido</mat-error>
        <mat-error *ngIf="registroForm.get('email').hasError('email')">El correo no es válido</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="registroForm.get('password').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Repetir Contraseña</mat-label>
        <input matInput type="password" formControlName="passwordConfirmacion">
        <mat-error *ngIf="registroForm.get('passwordConfirmacion').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" class="full-width" type="submit" cdkFocusInitial>Registrar</button>
      <button mat-raised-button (click)="cancelar();" class="full-width" cdkFocusInitial>Cancelar</button>
    </div>
  </form>
</div>
